.frame {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;


  .reset-btn {
    display: flex;
    width: 120px;
    height: 56px;
    justify-content: center;
    align-items: center;
    color: #4361EE;
    border-radius: 8px;
    border: 1px solid #4361EE;
    background: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
  }

  .run-bot {
    width: 120px;
    height: 56px;
    gap: 10px;
    border-radius: 8px;
    background: #4361EE;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 8px 16px 0px rgba(67, 97, 238, 0.20);
  }

  .heading {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;


    .outline-essentional-wrapper {
      width: 36px;
      background-color: #f3f5f8;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      height: 36px;

      img {
        align-self: center;
      }
    }


    .text-wrapper-3 {
      font-family: "Roboto", Helvetica;
      font-weight: 700;
      color: #0e1726;
      font-size: 24px;
      letter-spacing: 0;
      line-height: 33.6px;
      white-space: nowrap;
    }

    .group {
      display: flex;
      gap: 10px;
    }

    .text-wrapper {
      font-family: "Nunito", Helvetica;
      font-weight: 400;
      margin-top: 20px;
      color: #0e1726;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 16px;
      white-space: nowrap;
    }

  }

  .vector {
    width: 22px;
    height: 22px;
  }

  .action-box {
    width: 232px;
    height: 137px;
    background-color: #fafafa;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #0e172629;
    display: flex;
    justify-content: center;

    &__container {
      display: inline-flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      gap: 12px;
    }
  
  }


  .img {
    width: 32px;
    height: 32px;
  }

  .div-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 0 0 auto;
  }

  .text-wrapper-2 {
    width: fit-content;
    font-family: "Nunito", Helvetica;
    font-weight: 600;
    color: #0e1726;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }

  .p {
    width: 200px;
    font-family: "Nunito", Helvetica;
    font-weight: 500;
    color: #888ea8;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
  }

  .overlap-group {
    height: 137px;
  }

  .div-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .rectangle {
    width: 232px;
    height: 137px;
    background-color: #00000080;
  }

  .rectangle-2 {
    width: 232px;
    height: 137px;
    background-color: #00000080;
  }


  .div-wrapper-2 {
    display: flex;
    width: 180px;
    height: 56px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 34px;
    background-color: #4361ee;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 16px #4361ee33;
  }

  .text-wrapper-4 {
    width: fit-content;
    font-family: "Nunito", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 28px;
    white-space: nowrap;
  }

}

.d-flex {
  display: flex;
}
.justify-center {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.mx-8 {
  margin: 2rem 0px;
}

.gap-10 {
  gap: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
